.contact-div {
    text-align: center;
    justify-content: center; 
}

.contact-container {
    // background-color:lightgray;
    // margin-bottom: 70px;
    width: 50%;
    margin-bottom: 500px;
    margin-top: 200px;
}

.contact-card {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.contact-card-title {
    font-size: 40px;
    padding: 40px;
}

.contact-form {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    // width: 50%;
}

.contact-form-label {
    font-size: 22px;
}

.contact-form-control {
    margin-bottom: 40px;
}


.contact-submit-button.btn.btn-primary {
    background-color: rgb(100, 0, 0);
    color: beige;
    border: none;
    margin: 30px;
}

.contact-submit-button.btn.btn-primary:hover {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.contact-submit-button.btn.btn-primary:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40);
    border: none
}

.contact-email {
color: black;
}

.contact-email:hover {
    color: beige;
    }
