.modal-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(100, 0, 0);
    padding-top: 20px;
    color: beige;
}

.modalFooter-row {
    font-size: 20px;
}
.modalFooter-card {
    background-color: transparent;
    border: none;
}

.insta-link {
    border-radius: 40px;
    color: rgb(241, 64, 64);
    vertical-align: middle;
    width: auto;
}

.insta-link:hover {
    color: rgb(243, 139, 139);
}

.spotify-link {
    color: #1DB954;
    width: 50px;
    height: 50px;
}

.spotify-link:hover {
    color: rgb(14, 177, 14);
    width: 50px;
    height: 50px;
}