.music-div {
  // background-image: linear-gradient(to bottom, rgb(248, 210, 85), rgb(247, 84, 84));
}

.music-container {
    display: flex;
    justify-content: center;
    
  }
  
.music-row {
  display: flex;
  justify-content: center;
}

.music-card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-width: 500px;
  padding:150px;
  border-radius: 10px;
  // border-color: black;
  // border-width: 1px;
}

.music-card-title {
  text-align: center;
  padding-top: 20px;
  font-size: 36px;
}

.music-button.btn.btn-primary {
  background-color: rgb(100, 0, 0);
  color: beige;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.music-button.btn.btn-primary:hover {
  background-color: rgb(131, 46, 40);
  border-color: rgb(131, 46, 40)
}

.music-button.btn.btn-primary:focus {
  background-color: rgb(131, 46, 40);
  border-color: rgb(131, 46, 40)
}

.col-lg-6 {
    flex: 0 0 auto;
    text-align: -webkit-center;
}
  
#music-card1 {
  background-image: url('../assets/img/dansesSales.png');
  max-width: 400px;
  max-height: 400px;
  overflow: 'hidden';
  background-size: contain;
  border: none;
}

#music-card2 {
  background-image: url('../assets/img/touteLaPeine.png');
  max-width: 400px;
  max-height: 400px;
  overflow: 'hidden';
  background-size: contain;
  border: none;
}

#music-card3 {
  background-image: url('../assets/img/beach.png');
  max-width: 400px;
  max-height: 400px;
  overflow: 'hidden';
  background-size: contain;
  border: none;
}

#music-card4 {
  background-image: url('../assets/img/rainbow.jpeg');
  max-width: 400px;
  max-height: 400px;
  overflow: 'hidden';
  background-size: contain;
  border: none;
}