.shows-div {
    // background-image: linear-gradient(to bottom, rgb(123, 243, 159), rgb(129, 212, 245) );
}

.shows-container {
    padding-bottom: 100px;
}

.shows-img {
    background-image: url('../assets/img/liveset2.png');
    max-width: 100%px;
}

.shows-row {
    width: 100%;
    height: 100%;
}

.shows-card {
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: -20px;
    border: none;
}

.shows-card-text {
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;

}

.shows-buttons {
    border: none;
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
    border-radius: 5px;
}

.shows-buttons:hover {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.shows-buttons:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.shows-card-title {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30px;
    text: center;
}

.col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: right;
    max-height: 100%;
    opacity: 100%;
}