.store-div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.add-to-cart-button.btn.btn-primary {
    background-color: rgb(100, 0, 0);
    color: beige;
    border: none;
}

.add-to-cart-button.btn.btn-primary:hover {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.add-to-cart-button.btn.btn-primary:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.store-buttons.btn.btn-primary {
    background-color: rgb(100, 0, 0);
    color: beige;
    border: none;
}

.store-buttons.btn.btn-primary:hover {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.store-buttons.btn.btn-primary:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.store-remove-button.btn.btn-primary {
    background-color: rgb(243, 131, 131);
    color: beige;
    border: none;
}

.store-remove-button.btn.btn-primary:hover {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.store-remove-button.btn.btn-primary:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}

.shop-card-col {
    margin-bottom: 30px;
    
}

.store-container {
    padding-bottom: 300px;

}

.store-card-body {
    background-color: rgb(233, 233, 233);
    justify-content: center;
    text-align: center;
}

.basket-button.btn.btn-primary {
    color: beige;
    border: none;
}

.basket-button.btn.btn-primary:hover {
    background-color: rgb(255, 215, 212);
    border-color: rgb(131, 46, 40)
}

.basket-button.btn.btn-primary:focus {
    background-color: rgb(131, 46, 40);
    border-color: rgb(131, 46, 40)
}
